In [1]:
# IMPORTAMOS LIBRERIAS
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import mysql.connector

pd.set_option('display.max_columns', None)

In [2]:
# DEFINIR LA ESTRUCTURA DE LA BBDD

In [3]:
# Crear la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

cursor = cnx.cursor()
query_create_bd = "CREATE SCHEMA IF NOT EXISTS `ABCCorporation`"

cursor.execute(query_create_bd)

In [4]:

# Crear Tablas

# Table `ABCCorporation`.`PERSONAL_INFO`
# -----------------------------------------------------

query_create_table_personal = """
CREATE TABLE IF NOT EXISTS `abccorporation`.`PERSONAL_INFO` (
  `IdEmployee` INT NOT NULL,
  `EmployeeNumber` VARCHAR(45) NULL,
  `Age` INT NULL,
  `DateBirth` INT NULL,
  `Gender` VARCHAR(45) NULL,
  `MaritalStatus` VARCHAR(45) NULL,
  `DistanceFromHome` INT NULL,
  `Education` INT NULL,
  `EducationField` VARCHAR(100) NULL,
  PRIMARY KEY (`IdEmployee`))
"""
cursor.execute(query_create_table_personal)


# Table `ABCCorporation`.`EMPLOYEE_SATISFACTION`
# ----------------------------------------

query_create_table_satisfaction = """
CREATE TABLE IF NOT EXISTS `abccorporation`.`EMPLOYEE_SATISFACTION` (
  `IdEmployeeSatisfaction` INT NOT NULL AUTO_INCREMENT,
  `EnvironmentSatisfaction` INT NULL,
  `JobInvolvement` INT NULL,
  `JobSatisfaction` INT NULL,
  `RelationshipSatisfaction` INT NULL,
  `WorkLifeBalance` INT NULL,
  PRIMARY KEY (`IdEmployeeSatisfaction`))

"""

cursor.execute(query_create_table_satisfaction)


# Table `ABCCorporation`.`JOB_DATA`
# -----------------------------------------------------

query_create_table_job = """
CREATE TABLE IF NOT EXISTS `abccorporation`.`JOB_DATA` (
  `IdJobData` INT NOT NULL AUTO_INCREMENT,
  `Attrition` VARCHAR(45) NULL,
  `JobLevel` INT NULL,
  `JobRole` VARCHAR(100) NULL,
  `NumCompaniesWorked` INT NULL,
  `TotalWorkingYears` VARCHAR(45) NULL,
  `YearsAtCompany` INT NULL,
  `YearsSinceLastPromotion` INT NULL,
  `YearsWithCurrManager` INT NULL,
  PRIMARY KEY (`IdJobData`))
"""

cursor.execute(query_create_table_job)


# Table `ABCCorporation`.`SALARY`
# -----------------------------------------------------

query_create_table_salary = """
CREATE TABLE IF NOT EXISTS `abccorporation`.`SALARY` (
  `IdSalary` INT NOT NULL AUTO_INCREMENT,
  `HourlyRate` FLOAT NULL,
  `DailyRate` FLOAT NULL,
  `MonthlyRate` FLOAT NULL,
  `PercentSalaryHike` INT NULL,
  PRIMARY KEY (`IdSalary`))
  
"""

cursor.execute(query_create_table_salary)

# Table `ABCCorporation`.`JOB_EXTRAS`
# -----------------------------------------------------

query_create_table_extras = """
CREATE TABLE IF NOT EXISTS `abccorporation`.`JOB_EXTRAS` (
  `IdJobExtras` INT NOT NULL AUTO_INCREMENT,
  `OverTime` VARCHAR(45) NULL,
  `BusinessTravel` VARCHAR(45) NULL,
  `StockOptionLevel` INT NULL,
  `TrainingTimesLastYear` INT NULL,
  `RemoteWork` TINYINT NULL,
  `PerformanceRating` INT NULL,
  PRIMARY KEY (`IdJobExtras`))

"""

cursor.execute(query_create_table_extras)

# Table `ABCCorporation`.`UNION`
# -----------------------------------------------------

query_create_table_union = """
CREATE TABLE IF NOT EXISTS `abccorporation`.`UNION` (
  `IdUnion` INT NOT NULL AUTO_INCREMENT,
  `PERSONAL_INFO_IdEmployee` INT NOT NULL,
  `EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction` INT NOT NULL,
  `JOB_DATA_IdJobData` INT NOT NULL,
  `SALARY_IdSalary` INT NOT NULL,
  `JOB_EXTRAS_IdJobExtras` INT NOT NULL,
  PRIMARY KEY (`IdUnion`, `PERSONAL_INFO_IdEmployee`, `EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction`, `JOB_DATA_IdJobData`, `SALARY_IdSalary`, `JOB_EXTRAS_IdJobExtras`),
  INDEX `fk_UNION_PERSONAL_INFO_idx` (`PERSONAL_INFO_IdEmployee` ASC) VISIBLE,
  INDEX `fk_UNION_EMPLOYEE_SATISFACTION1_idx` (`EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction` ASC) VISIBLE,
  INDEX `fk_UNION_JOB_DATA1_idx` (`JOB_DATA_IdJobData` ASC) VISIBLE,
  INDEX `fk_UNION_SALARY1_idx` (`SALARY_IdSalary` ASC) VISIBLE,
  INDEX `fk_UNION_JOB_EXTRAS1_idx` (`JOB_EXTRAS_IdJobExtras` ASC) VISIBLE,
  CONSTRAINT `fk_UNION_PERSONAL_INFO`
    FOREIGN KEY (`PERSONAL_INFO_IdEmployee`)
    REFERENCES `abccorporation`.`PERSONAL_INFO` (`IdEmployee`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_EMPLOYEE_SATISFACTION1`
    FOREIGN KEY (`EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction`)
    REFERENCES `abccorporation`.`EMPLOYEE_SATISFACTION` (`IdEmployeeSatisfaction`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_JOB_DATA1`
    FOREIGN KEY (`JOB_DATA_IdJobData`)
    REFERENCES `abccorporation`.`JOB_DATA` (`IdJobData`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_SALARY1`
    FOREIGN KEY (`SALARY_IdSalary`)
    REFERENCES `abccorporation`.`SALARY` (`IdSalary`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_JOB_EXTRAS1`
    FOREIGN KEY (`JOB_EXTRAS_IdJobExtras`)
    REFERENCES `abccorporation`.`JOB_EXTRAS` (`IdJobExtras`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);
"""

cursor.execute(query_create_table_union)

cnx.close()

In [5]:
# Leer archivo CSV en un DataFrame
df = pd.read_csv('files/df_fase1.csv')

In [7]:
# Funcion para convertir a entero
def convertir(x): 
    
    # Convertir solo las columnas de tipo int64
    lista = []
 
    for tupla in x:
        lista_intermedia = []
    
        for elem in tupla:
            try:
                lista_intermedia.append(int(elem))
            except:
                lista_intermedia.append(elem)
        
        lista.append(tuple(lista_intermedia))
        
    return lista

In [8]:
# Insertar datos

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

cursor = cnx.cursor()

query_insertar_tablapersonal = """ INSERT INTO `ABCCorporation`.`PERSONAL_INFO` (`IdEmployee`, `EmployeeNumber`, `Age`, `DateBirth`, `Gender`, `MaritalStatus`, `DistanceFromHome`, `Education`, `EducationField`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""

datos_tabla_personal = list(set(zip
                                (df["IdEmployee"].values, 
                                 df["EmployeeNumber"].values,
                                 df["Age"].values,
                                 df["DateBirth"].values,
                                 df["Gender"].values,
                                 df["MaritalStatus"].values,
                                 df["DistanceFromHome"].values,
                                 df["Education"].values,
                                 df["EducationField"].values,
                                 )))

datos_personal = convertir(datos_tabla_personal)

personal_id = list(df["IdEmployee"].values)

cursor.executemany(query_insertar_tablapersonal, datos_personal)

cnx.commit()

In [9]:
# Tabla EMPLOYEE_SATISFACTION

query_insertar_satisfaction = """ INSERT INTO `ABCCorporation`.`EMPLOYEE_SATISFACTION` (`EnvironmentSatisfaction`, `JobInvolvement`, `JobSatisfaction`, `RelationshipSatisfaction`, `WorkLifeBalance`) VALUES (%s, %s, %s, %s, %s)"""

datos_tabla_satisfaction = list(set(zip
                                (df["EnvironmentSatisfaction"].values,
                                 df["JobInvolvement"].values,
                                 df["JobSatisfaction"].values,
                                 df["RelationshipSatisfaction"].values,
                                 df["WorkLifeBalance"].values,
                                 )))

datos_satisfaction = convertir(datos_tabla_satisfaction)


cursor.executemany(query_insertar_satisfaction, datos_satisfaction)

satisfaction_id = cursor.lastrowid

cnx.commit()

In [10]:
# Tabla JOB_DATA

query_insertar_job_data = """ INSERT INTO `ABCCorporation`.`JOB_DATA` (`Attrition`, `JobLevel`, `JobRole`, `NumCompaniesWorked`, `TotalWorkingYears`, `YearsAtCompany`,`YearsSinceLastPromotion`, `YearsWithCurrManager`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""

datos_tabla_job_data = list(set(zip
                                (df["Attrition"].values,
                                 df["JobLevel"].values,
                                 df["JobRole"].values,
                                 df["NumCompaniesWorked"].values,
                                 df["TotalWorkingYears"].values,
                                 df["YearsAtCompany"].values,
                                 df["YearsSinceLastPromotion"].values,
                                 df["YearsWithCurrManager"].values,
                                 )))

datos_job_data = convertir(datos_tabla_job_data)


cursor.executemany(query_insertar_job_data, datos_job_data)

job_data_id = cursor.lastrowid

cnx.commit()

In [21]:
def extraer_datos(x):
    
    lista = []
    
    for dato in x:
        lista.append(cursor.lastrowid)
    
    return lista

In [22]:
# Tabla SALARY

query_insertar_salary = """ INSERT INTO `ABCCorporation`.`SALARY` (`HourlyRate`, `DailyRate`, `MonthlyRate`, `PercentSalaryHike`) VALUES (%s, %s, %s, %s)"""

datos_tabla_salary = list(set(zip
                                (df["HourlyRate"].values,
                                 df["DailyRate"].values,
                                 df["MonthlyRate"].values,
                                 df["PercentSalaryHike"].values
                                 )))

datos_salary = convertir(datos_tabla_salary)


cursor.executemany(query_insertar_salary, datos_salary)


cnx.commit()

In [12]:
# Tabla JOB_EXTRAS

query_insertar_job_extras = """ INSERT INTO `ABCCorporation`.`JOB_EXTRAS` (`OverTime`, `BusinessTravel`, `StockOptionLevel`, `TrainingTimesLastYear`, `RemoteWork`, `PerformanceRating`) VALUES (%s, %s, %s, %s, %s, %s)"""

datos_tabla_job_extras = list(set(zip
                                (df["OverTime"].values,
                                 df["BusinessTravel"].values,
                                 df["StockOptionLevel"].values,
                                 df["TrainingTimesLastYear"].values,
                                 df["RemoteWork"].values,
                                 df["PerformanceRating"].values
                                 )))

datos_job_extras = convertir(datos_tabla_job_extras)


cursor.executemany(query_insertar_job_extras, datos_job_extras)


cnx.commit()