In [1]:
# IMPORTAMOS LIBRERIAS
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import mysql.connector

pd.set_option('display.max_columns', None)

In [2]:
# DEFINIR LA ESTRUCTURA DE LA BBDD

In [3]:
# Crear la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

cursor = cnx.cursor()
query_create_bd = "CREATE SCHEMA IF NOT EXISTS `ABCCorporation (M3T3)`"

cursor.execute(query_create_bd)

In [4]:

# Crear Tablas

# Table `ABCCorporation (M3T3)`.`PERSONAL_INFO`
# -----------------------------------------------------

query_create_table_personal = """
CREATE TABLE IF NOT EXISTS `ABCCorporation (M3T3)`.`PERSONAL_INFO` (
  `IdEmployee` BIGINT NOT NULL,
  `EmployeeNumber` VARCHAR(45) NULL,
  `Age` BIGINT NULL,
  `DateBirth` BIGINT NULL,
  `Gender` VARCHAR(45) NULL,
  `MaritalStatus` VARCHAR(45) NULL,
  `DistanceFromHome` BIGINT NULL,
  `Education` BIGINT NULL,
  `EducationField` VARCHAR(100) NULL,
  PRIMARY KEY (`IdEmployee`))
"""
cursor.execute(query_create_table_personal)


# Table `ABCCorporation (M3T3)`.`EMPLOYEE_SATISFACTION`
# ----------------------------------------

query_create_table_satisfaction = """
CREATE TABLE IF NOT EXISTS `ABCCorporation (M3T3)`.`EMPLOYEE_SATISFACTION` (
  `IdEmployeeSatisfaction` INT NOT NULL AUTO_INCREMENT,
  `EnvironmentSatisfaction` INT NULL,
  `JobInvolvement` INT NULL,
  `JobSatisfaction` INT NULL,
  `RelationshipSatisfaction` INT NULL,
  `WorkLifeBalance` INT NULL,
  PRIMARY KEY (`IdEmployeeSatisfaction`))

"""

cursor.execute(query_create_table_satisfaction)


# Table `ABCCorporation (M3T3)`.`JOB_DATA`
# -----------------------------------------------------

query_create_table_job = """
CREATE TABLE IF NOT EXISTS `ABCCorporation (M3T3)`.`JOB_DATA` (
  `IdJobData` INT NOT NULL AUTO_INCREMENT,
  `Attrition` VARCHAR(45) NULL,
  `JobLevel` INT NULL,
  `JobRole` VARCHAR(100) NULL,
  `NumCompaniesWorked` INT NULL,
  `TotalWorkingYears` INT NULL,
  `YearsAtCompany` INT NULL,
  `YearsSinceLastPromotion` INT NULL,
  `YearsWithCurrManager` INT NULL,
  PRIMARY KEY (`IdJobData`))
"""

cursor.execute(query_create_table_job)


# Table `ABCCorporation (M3T3)`.`SALARY`
# -----------------------------------------------------

query_create_table_salary = """
CREATE TABLE IF NOT EXISTS `ABCCorporation (M3T3)`.`SALARY` (
  `IdSalary` INT NOT NULL AUTO_INCREMENT,
  `HourlyRate` FLOAT NULL,
  `DailyRate` FLOAT NULL,
  `MonthlyRate` FLOAT NULL,
  `PercentSalaryHike` INT NULL,
  PRIMARY KEY (`IdSalary`))
  
"""

cursor.execute(query_create_table_salary)

# Table `ABCCorporation (M3T3)`.`JOB_EXTRAS`
# -----------------------------------------------------

query_create_table_extras = """
CREATE TABLE IF NOT EXISTS `ABCCorporation (M3T3)`.`JOB_EXTRAS` (
  `IdJobExtras` INT NOT NULL AUTO_INCREMENT,
  `OverTime` VARCHAR(45) NULL,
  `BusinessTravel` VARCHAR(45) NULL,
  `StockOptionLevel` INT NULL,
  `TrainingTimesLastYear` INT NULL,
  `RemoteWork` TINYINT NULL,
  `PerformanceRating` INT NULL,
  PRIMARY KEY (`IdJobExtras`))

"""

cursor.execute(query_create_table_extras)

# Table `ABCCorporation (M3T3)`.`UNION`
# -----------------------------------------------------

query_create_table_union = """
CREATE TABLE IF NOT EXISTS `ABCCorporation (M3T3)`.`UNION` (
  `IdUnion` INT NOT NULL AUTO_INCREMENT,
  `PERSONAL_INFO_IdEmployee` BIGINT NOT NULL,
  `EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction` INT NOT NULL,
  `JOB_DATA_IdJobData` INT NOT NULL,
  `SALARY_IdSalary` INT NOT NULL,
  `JOB_EXTRAS_IdJobExtras` INT NOT NULL,
  PRIMARY KEY (`IdUnion`, `PERSONAL_INFO_IdEmployee`, `EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction`, `JOB_DATA_IdJobData`, `SALARY_IdSalary`, `JOB_EXTRAS_IdJobExtras`),
  INDEX `fk_UNION_PERSONAL_INFO_idx` (`PERSONAL_INFO_IdEmployee` ASC) VISIBLE,
  INDEX `fk_UNION_EMPLOYEE_SATISFACTION1_idx` (`EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction` ASC) VISIBLE,
  INDEX `fk_UNION_JOB_DATA1_idx` (`JOB_DATA_IdJobData` ASC) VISIBLE,
  INDEX `fk_UNION_SALARY1_idx` (`SALARY_IdSalary` ASC) VISIBLE,
  INDEX `fk_UNION_JOB_EXTRAS1_idx` (`JOB_EXTRAS_IdJobExtras` ASC) VISIBLE,
  CONSTRAINT `fk_UNION_PERSONAL_INFO`
    FOREIGN KEY (`PERSONAL_INFO_IdEmployee`)
    REFERENCES `ABCCorporation (M3T3)`.`PERSONAL_INFO` (`IdEmployee`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_EMPLOYEE_SATISFACTION1`
    FOREIGN KEY (`EMPLOYEE_SATISFACTION_IdEmployeeSatisfaction`)
    REFERENCES `ABCCorporation (M3T3)`.`EMPLOYEE_SATISFACTION` (`IdEmployeeSatisfaction`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_JOB_DATA1`
    FOREIGN KEY (`JOB_DATA_IdJobData`)
    REFERENCES `ABCCorporation (M3T3)`.`JOB_DATA` (`IdJobData`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_SALARY1`
    FOREIGN KEY (`SALARY_IdSalary`)
    REFERENCES `ABCCorporation (M3T3)`.`SALARY` (`IdSalary`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_UNION_JOB_EXTRAS1`
    FOREIGN KEY (`JOB_EXTRAS_IdJobExtras`)
    REFERENCES `ABCCorporation (M3T3)`.`JOB_EXTRAS` (`IdJobExtras`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
"""

cursor.execute(query_create_table_union)

In [5]:
# Leer archivo CSV en un DataFrame
df = pd.read_csv('files/df_fase1.csv')

In [6]:
# Crear la conexi√≥n con la base de datos usando SQLAlchemy

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

cursor = cnx.cursor()

In [7]:
# Funcion para convertir a entero
def convertir_int64_a_int(df): 
    
    # Convertir solo las columnas de tipo int64 
    for col in df.select_dtypes(include=['int64', 'int32', 'int']).columns: 
        df[col] = df[col].astype(int)
    
    return df

In [8]:
df_int = convertir_int64_a_int(df)

df_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1501 non-null   int32
 1   IdEmployee                1501 non-null   int32
 2   EmployeeNumber            1501 non-null   object
 3   Age                       1501 non-null   int32
 4   DateBirth                 1501 non-null   int32
 5   Attrition                 1501 non-null   object
 6   BusinessTravel            1501 non-null   object
 7   DailyRate                 1501 non-null   float64
 8   DistanceFromHome          1501 non-null   int32
 9   Education                 1501 non-null   int32
 10  EducationField            1501 non-null   object
 11  EnvironmentSatisfaction   1501 non-null   int32
 12  Gender                    1501 non-null   object
 13  HourlyRate                1501 non-null   float64
 14  JobInvolvement            1501 non-null   int32
 15  JobLevel                  1501 non-null   int32
 16  JobRole                   1501 non-null   object
 17  JobSatisfaction           1501 non-null   int32
 18  MaritalStatus             1501 non-null   object
 19  MonthlyRate               1501 non-null   float64
 20  NumCompaniesWorked        1501 non-null   int32
 21  OverTime                  874 non-null    object
 22  PercentSalaryHike         1501 non-null   int32
 23  PerformanceRating         1501 non-null   int32
 24  RelationshipSatisfaction  1501 non-null   int32
 25  StockOptionLevel          1501 non-null   int32
 26  TotalWorkingYears         1011 non-null   object
 27  TrainingTimesLastYear     1501 non-null   int32
 28  WorkLifeBalance           1501 non-null   int32
 29  YearsAtCompany            1501 non-null   int32
 30  YearsSinceLastPromotion   1501 non-null   int32
 31  YearsWithCurrManager      1501 non-null   int32
 32  RemoteWork                1501 non-null   bool
dtypes: bool(1), float64(3), int32(20), object(9)
memory usage: 259.6+ KB

In [9]:
# Funcion para convertir a entero
def convertir(x): 
    
    # Convertir solo las columnas de tipo int64 
    lista = []
 
    for tupla in x:
        lista_intermedia = []
    
        for elem in tupla:
            try:
                lista_intermedia.append(int(elem))
            except:
                lista_intermedia.append(elem)
        
        lista.append(tuple(lista_intermedia))
        
    return lista

In [11]:
datos_tabla_personal = list(set(zip
                                (df["IdEmployee"].values, 
                                 df["EmployeeNumber"].values,
                                 df["Age"].values,
                                 df["DateBirth"].values,
                                 df["Gender"].values,
                                 df["MaritalStatus"].values,
                                 df["DistanceFromHome"].values,
                                 df["Education"].values,
                                 df["EducationField"].values,
                                 )))

In [12]:
datos_personal = convertir(datos_tabla_personal)

datos_personal

[(213, '329,0', 53, 1971, 'Male', 'no-data', 2, 4, 'Life Sciences'),
 (435, '878,0', 37, 1987, 'Male', 'no-data', 8, 3, 'Life Sciences'),
 (1159, 'no-data', 34, 1990, 'Female', 'no-data', 2, 2, 'no-data'),
 (712, '902,0', 44, 1980, 'Female', 'Married', 1, 3, 'Life Sciences'),
 (685, '705,0', 24, 2000, 'Male', 'no-data', 4, 3, 'no-data'),
 (492, '230,0', 39, 1985, 'Female', 'Single', 1, 4, 'Life Sciences'),
 (745, '1161,0', 38, 1986, 'Female', 'no-data', 25, 2, 'no-data'),
 (630, '337,0', 32, 1992, 'Male', 'Divorced', 3, 4, 'Medical'),
 (732, '1084,0', 31, 1993, 'Male', 'Married', 20, 3, 'Other'),
 (1194, 'no-data', 53, 1971, 'Male', 'Single', 5, 3, 'no-data'),
 (671, '593,0', 23, 2001, 'Male', 'Single', 25, 1, 'Technical Degree'),
 (342, '1934,0', 48, 1976, 'Male', 'Married', 14, 4, 'no-data'),
 (261, '927,0', 42, 1982, 'Female', 'Divorced', 2, 4, 'Life Sciences'),
 (430, '577,0', 36, 1988, 'Male', 'Single', 22, 3, 'Life Sciences'),
 (624, '288,0', 47, 1977, 'Male', 'no-data', 1, 4, 'no-data'),
 (203, '202,0', 41, 1983, 'Female', 'Divorced', 26, 3, 'no-data'),
 (240, '682,0', 54, 1970, 'Female', 'Single', 1, 1, 'no-data'),
 (1442, 'no-data', 43, 1981, 'Male', 'no-data', 29, 3, 'no-data'),
 (1157, 'no-data', 37, 1987, 'Male', 'no-data', 3, 2, 'no-data'),
 (805, '1645,0', 36, 1988, 'Male', 'no-data', 10, 2, 'Medical'),
 (511, '641,0', 27, 1997, 'Male', 'Married', 28, 2, 'Marketing'),
 (1060, '1860,0', 43, 1981, 'Male', 'no-data', 8, 3, 'no-data'),
 (1206, 'no-data', 27, 1997, 'Male', 'Married', 6, 3, 'Other'),
 (1291, 'no-data', 37, 1987, 'Female', 'Married', 11, 4, 'Marketing'),
 (852, '2010,0', 33, 1991, 'Female', 'Single', 29, 4, 'no-data'),
 (273, '1050,0', 54, 1970, 'Female', 'no-data', 2, 3, 'Marketing'),
 (259, '842,0', 56, 1968, 'Male', 'Single', 2, 1, 'Medical'),
 (316, '1611,0', 46, 1978, 'Female', 'no-data', 5, 5, 'no-data'),
 (825, '1787,0', 38, 1986, 'Male', 'no-data', 9, 2, 'Marketing'),
 (478, '1949,0', 37, 1987, 'Male', 'no-data', 9, 4, 'no-data'),
 (535, '1228,0', 47, 1977, 'Male', 'Divorced', 2, 4, 'Technical Degree'),
 (1115, 'no-data', 47, 1977, 'Male', 'Married', 1, 3, 'Medical'),
 (1343, 'no-data', 36, 1988, 'Female', 'Married', 8, 2, 'no-data'),
 (583, '7,0', 28, 1996, 'Male', 'Married', 2, 1, 'no-data'),
 (235, '608,0', 27, 1997, 'Female', 'no-data', 17, 4, 'Life Sciences'),
 (1239, 'no-data', 28, 1996, 'Male', 'no-data', 2, 3, 'no-data'),
 (530, '1068,0', 27, 1997, 'Female', 'no-data', 26, 1, 'Medical'),
 (603, '128,0', 25, 1999, 'Female', 'Married', 3, 2, 'Other'),
 (1437, 'no-data', 34, 1990, 'Female', 'no-data', 1, 3, 'no-data'),
 (767, '1396,0', 33, 1991, 'Male', 'Married', 2, 1, 'Marketing'),
 (672, '611,0', 30, 1994, 'Male', 'Divorced', 19, 3, 'Technical Degree'),
 (1050, '1755,0', 35, 1989, 'Male', 'Married', 2, 4, 'no-data'),
 (1127, 'no-data', 59, 1965, 'Male', 'Divorced', 2, 3, 'Medical'),
 (20, '244,0', 47, 1977, 'Female', 'Divorced', 1, 2, 'no-data'),
 (1178, 'no-data', 27, 1997, 'Female', 'Married', 5, 2, 'Medical'),
 (722, '1010,0', 36, 1988, 'Male', 'Divorced', 14, 4, 'Other'),
 (89, '683,0', 35, 1989, 'Male', 'Married', 1, 5, 'no-data'),
 (54, '131,0', 59, 1965, 'Male', 'Single', 18, 4, 'no-data'),
 (297, '1344,0', 35, 1989, 'Male', 'no-data', 9, 3, 'no-data'),
 (326, '1727,0', 47, 1977, 'Male', 'Single', 13, 4, 'no-data'),
 (168, '1485,0', 35, 1989, 'Male', 'no-data', 15, 3, 'no-data'),
 (933, '342,0', 38, 1986, 'Male', 'no-data', 10, 3, 'Medical'),
 (1061, '1865,0', 30, 1994, 'Male', 'Married', 6, 1, 'no-data'),
 (609, '178,0', 37, 1987, 'Male', 'Divorced', 6, 2, 'Medical'),
 (174, '1606,0', 51, 1973, 'Male', 'no-data', 20, 5, 'Medical'),
 (585, '18,0', 35, 1989, 'Male', 'Divorced', 38, 2, 'no-data'),
 (1199, 'no-data', 49, 1975, 'Female', 'Divorced', 16, 4, 'Life Sciences'),
 (879, '970,0', 38, 1986, 'Male', 'Married', 1, 4, 'Life Sciences'),
 (1005, '1156,0', 19, 2005, 'Male', 'Single', 8, 1, 'no-data'),
 (1066, '1928,0', 30, 1994, 'Male', 'Single', 24, 3, 'Technical Degree'),
 (6, '999,0', 42, 1982, 'Male', 'no-data', 9, 3, 'no-data'),
 (1305, 'no-data', 29, 1995, 'Male', 'Married', 9, 3, 'no-data'),
 (626, '303,0', 55, 1969, 'Female', 'Married', 3, 3, 'no-data'),
 (771, '1412,0', 36, 1988, 'Male', 'no-data', 18, 2, 'Life Sciences'),
 (520, '827,0', 43, 1981, 'Female', 'Married', 1, 2, 'Life Sciences'),
 (414, '240,0', 46, 1978, 'Female', 'no-data', 4, 2, 'no-data'),
 (1296, 'no-data', 26, 1998, 'Male', 'no-data', 28, 3, 'Life Sciences'),
 (90, '780,0', 34, 1990, 'Male', 'Single', 1, 4, 'Other'),
 (1024, '1433,0', 32, 1992, 'Female', 'no-data', 8, 3, 'Life Sciences'),
 (518, '799,0', 55, 1969, 'Female', 'Divorced', 19, 4, 'no-data'),
 (429, '548,0', 31, 1993, 'Female', 'no-data', 2, 3, 'Life Sciences'),
 (691, '746,0', 48, 1976, 'Female', 'Divorced', 3, 3, 'no-data'),
 (640, '394,0', 27, 1997, 'Male', 'Divorced', 16, 4, 'Medical'),
 (1368, 'no-data', 27, 1997, 'Male', 'no-data', 17, 4, 'no-data'),
 (475, '1909,0', 42, 1982, 'Female', 'no-data', 8, 3, 'no-data'),
 (715, '925,0', 48, 1976, 'Female', 'Single', 2, 4, 'Life Sciences'),
 (702, '847,0', 35, 1989, 'Male', 'no-data', 3, 2, 'no-data'),
 (1423, 'no-data', 29, 1995, 'Male', 'no-data', 17, 2, 'no-data'),
 (1012, '1256,0', 50, 1974, 'Male', 'Married', 4, 2, 'Medical'),
 (593, '40,0', 45, 1979, 'Male', 'Married', 10, 4, 'Other'),
 (422, '466,0', 42, 1982, 'Male', 'Single', 6, 3, 'no-data'),
 (13, '820,0', 48, 1976, 'Female', 'Married', 2, 2, 'Other'),
 (920, '144,0', 23, 2001, 'Female', 'Single', 15, 3, 'no-data'),
 (1426, 'no-data', 32, 1992, 'Male', 'no-data', 42, 3, 'no-data'),
 (188, '2000,0', 48, 1976, 'Female', 'Married', 1, 1, 'no-data'),
 (1202, 'no-data', 37, 1987, 'Female', 'Single', 2, 4, 'no-data'),
 (15, '1774,0', 35, 1989, 'Male', 'no-data', 10, 3, 'Life Sciences'),
 (1228, 'no-data', 45, 1979, 'Female', 'Married', 2, 1, 'Life Sciences'),
 (1360, 'no-data', 32, 1992, 'Male', 'Single', 2, 4, 'no-data'),
 (741, '1135,0', 32, 1992, 'Male', 'Married', 20, 3, 'no-data'),
 (376, '1588,0', 40, 1984, 'Male', 'Married', 6, 3, 'no-data'),
 (282, '1128,0', 41, 1983, 'Male', 'no-data', 14, 3, 'no-data'),
 (140, '531,0', 40, 1984, 'Male', 'no-data', 1, 1, 'no-data'),
 (382, '15,0', 30, 1994, 'Female', 'Single', 15, 2, 'Life Sciences'),
 (393, '714,0', 28, 1996, 'Female', 'no-data', 3, 1, 'Medical'),
 (1480, 'no-data', 32, 1992, 'Male', 'no-data', 9, 4, 'Life Sciences'),
 (1078, '2040,0', 36, 1988, 'Female', 'Single', 26, 4, 'Life Sciences'),
 (579, '2046,0', 46, 1978, 'Female', 'no-data', 20, 3, 'no-data'),
 (1256, 'no-data', 30, 1994, 'Male', 'no-data', 2, 1, 'Life Sciences'),
 (970, '775,0', 35, 1989, 'Female', 'no-data', 8, 5, 'Life Sciences'),
 (652, '475,0', 31, 1993, 'Female', 'no-data', 25, 2, 'no-data'),
 (930, '309,0', 60, 1964, 'Male', 'Married', 3, 3, 'Life Sciences'),
 (738, '1108,0', 34, 1990, 'Male', 'Single', 25, 3, 'Medical'),
 (1007, '1172,0', 36, 1988, 'Male', 'no-data', 1, 4, 'Medical'),
 (1435, 'no-data', 44, 1980, 'Female', 'Divorced', 8, 3, 'no-data'),
 (1418, 'no-data', 19, 2005, 'Male', 'Single', 3, 3, 'no-data'),
 (1177, 'no-data', 29, 1995, 'Female', 'no-data', 2, 4, 'no-data'),
 (488, '148,0', 55, 1969, 'Female', 'Single', 26, 3, 'no-data'),
 (1415, 'no-data', 52, 1972, 'Male', 'Married', 38, 3, 'no-data'),
 (337, '1849,0', 44, 1980, 'Male', 'Married', 2, 4, 'Life Sciences'),
 (484, '80,0', 51, 1973, 'Female', 'Divorced', 7, 2, 'Medical'),
 (998, '1079,0', 22, 2002, 'Female', 'Single', 10, 3, 'no-data'),
 (221, '416,0', 32, 1992, 'Male', 'no-data', 7, 3, 'Technical Degree'),
 (417, '308,0', 32, 1992, 'Male', 'no-data', 1, 4, 'Medical'),
 (368, '1085,0', 42, 1982, 'Female', 'no-data', 7, 2, 'no-data'),
 (453, '1397,0', 40, 1984, 'Male', 'no-data', 25, 2, 'no-data'),
 (355, '62,0', 47, 1977, 'Male', 'Single', 5, 4, 'no-data'),
 (913, '70,0', 36, 1988, 'Male', 'Married', 11, 2, 'Medical'),
 (480, '46,0', 44, 1980, 'Female', 'no-data', 2, 2, 'Medical'),
 (1355, 'no-data', 32, 1992, 'Female', 'no-data', 8, 2, 'no-data'),
 (1094, 'no-data', 61, 1963, 'Female', 'Married', 28, 3, 'no-data'),
 (386, '384,0', 27, 1997, 'Female', 'no-data', 1, 3, 'no-data'),
 (814, '1682,0', 37, 1987, 'Male', 'Married', 26, 4, 'no-data'),
 (990, '994,0', 30, 1994, 'Female', 'Single', 10, 3, 'no-data'),
 (1233, 'no-data', 42, 1982, 'Female', 'no-data', 1, 2, 'no-data'),
 (1255, 'no-data', 34, 1990, 'Female', 'no-data', 4, 4, 'Medical'),
 (899, '1818,0', 27, 1997, 'Female', 'Married', 20, 2, 'no-data'),
 (668, '580,0', 47, 1977, 'Female', 'no-data', 10, 3, 'Marketing'),
 (1349, 'no-data', 41, 1983, 'Male', 'Divorced', 16, 2, 'no-data'),
 (1054, '1766,0', 39, 1985, 'Male', 'Married', 18, 3, 'Medical'),
 (491, '216,0', 35, 1989, 'Female', 'no-data', 10, 4, 'no-data'),
 (1476, 'no-data', 57, 1967, 'Female', 'Divorced', 4, 4, 'no-data'),
 (675, '632,0', 25, 1999, 'Male', 'no-data', 24, 3, 'Medical'),
 (154, '992,0', 34, 1990, 'Male', 'Single', 17, 3, 'no-data'),
 (1444, 'no-data', 41, 1983, 'Male', 'no-data', 2, 4, 'no-data'),
 (433, '861,0', 31, 1993, 'Male', 'Divorced', 5, 4, 'Life Sciences'),
 (1017, '1270,0', 24, 2000, 'Male', 'no-data', 1, 2, 'no-data'),
 (325, '1703,0', 45, 1979, 'Female', 'no-data', 2, 3, 'Life Sciences'),
 (508, '579,0', 35, 1989, 'Male', 'no-data', 2, 4, 'no-data'),
 (676, '652,0', 36, 1988, 'Male', 'Single', 25, 2, 'no-data'),
 (1466, 'no-data', 30, 1994, 'Male', 'no-data', 24, 2, 'no-data'),
 (339, '1898,0', 28, 1996, 'Female', 'Single', 2, 2, 'no-data'),
 (791, '1560,0', 34, 1990, 'Male', 'no-data', 8, 4, 'Life Sciences'),
 (874, '730,0', 54, 1970, 'Male', 'Married', 7, 3, 'no-data'),
 (1302, 'no-data', 60, 1964, 'Male', 'Married', 6, 2, 'Medical'),
 (1393, 'no-data', 35, 1989, 'Male', 'Divorced', 46, 4, 'no-data'),
 (1032, '1525,0', 40, 1984, 'Female', 'Single', 6, 3, 'no-data'),
 (405, '112,0', 57, 1967, 'Male', 'no-data', 13, 3, 'no-data'),
 (124, '78,0', 33, 1991, 'Male', 'Married', 1, 3, 'Medical'),
 (352, '2035,0', 35, 1989, 'Female', 'Married', 28, 3, 'Marketing'),
 (695, '792,0', 27, 1997, 'Female', 'no-data', 1, 2, 'Life Sciences'),
 (1389, 'no-data', 52, 1972, 'Male', 'Divorced', 35, 3, 'Medical'),
 (866, '286,0', 37, 1987, 'Female', 'Single', 18, 1, 'no-data'),
 (1262, 'no-data', 51, 1973, 'Female', 'no-data', 47, 3, 'no-data'),
 (971, '811,0', 24, 2000, 'Male', 'no-data', 6, 3, 'Life Sciences'),
 (577, '2018,0', 26, 1998, 'Female', 'no-data', 8, 2, 'no-data'),
 (367, '1026,0', 40, 1984, 'Female', 'Married', 1, 1, 'no-data'),
 (786, '1509,0', 50, 1974, 'Female', 'Married', 45, 2, 'Medical'),
 (650, '465,0', 24, 2000, 'Male', 'no-data', 26, 1, 'no-data'),
 (755, '1308,0', 59, 1965, 'Male', 'no-data', 23, 4, 'Life Sciences'),
 (977, '897,0', 54, 1970, 'Male', 'Married', 8, 3, 'Marketing'),
 (37, '170,0', 50, 1974, 'Female', 'no-data', 26, 4, 'Medical'),
 (943, '477,0', 43, 1981, 'Male', 'no-data', 2, 4, 'no-data'),
 (742, '1140,0', 35, 1989, 'Male', 'Single', 2, 2, 'no-data'),
 (560, '1768,0', 43, 1981, 'Male', 'Divorced', 12, 3, 'Medical'),
 (605, '133,0', 38, 1986, 'Male', 'Divorced', 6, 4, 'Human Resources'),
 (114, '1596,0', 36, 1988, 'Male', 'no-data', 28, 3, 'Life Sciences'),
 (470, '1704,0', 36, 1988, 'Male', 'no-data', 2, 4, 'no-data'),
 (1323, 'no-data', 24, 2000, 'Male', 'Single', 12, 1, 'Medical'),
 (813, '1674,0', 50, 1974, 'Female', 'Divorced', 16, 3, 'Medical'),
 (684, '699,0', 37, 1987, 'Male', 'no-data', 9, 2, 'Medical'),
 (655, '495,0', 30, 1994, 'Male', 'no-data', 17, 3, 'no-data'),
 (973, '816,0', 30, 1994, 'Female', 'Married', 1, 2, 'Life Sciences'),
 (1223, 'no-data', 25, 1999, 'Male', 'no-data', 23, 3, 'Medical'),
 (527, '1032,0', 60, 1964, 'Female', 'no-data', 2, 3, 'no-data'),
 (1225, 'no-data', 36, 1988, 'Male', 'Single', 7, 3, 'Other'),
 (103, '1307,0', 40, 1984, 'Female', 'Divorced', 13, 4, 'no-data'),
 (580, '2052,0', 36, 1988, 'Female', 'Married', 1, 4, 'no-data'),
 (365, '905,0', 51, 1973, 'Male', 'Divorced', 2, 4, 'no-data'),
 (1082, 'no-data', 57, 1967, 'Male', 'Married', 23, 3, 'Life Sciences'),
 (1049, '1744,0', 46, 1978, 'Female', 'Married', 41, 3, 'Life Sciences'),
 (840, '1907,0', 57, 1967, 'Male', 'Single', 24, 2, 'no-data'),
 (628, '316,0', 53, 1971, 'Female', 'Single', 2, 3, 'no-data'),
 (494, '277,0', 35, 1989, 'Male', 'Divorced', 10, 4, 'no-data'),
 (361, '731,0', 42, 1982, 'Male', 'Divorced', 10, 4, 'Human Resources'),
 (1358, 'no-data', 37, 1987, 'Male', 'no-data', 2, 4, 'Life Sciences'),
 (389, '604,0', 32, 1992, 'Male', 'no-data', 2, 1, 'Life Sciences'),
 (792, '1568,0', 31, 1993, 'Male', 'Married', 14, 4, 'no-data'),
 (94, '984,0', 36, 1988, 'Male', 'no-data', 21, 4, 'no-data'),
 (1195, 'no-data', 56, 1968, 'Male', 'no-data', 13, 4, 'no-data'),
 (498, '369,0', 26, 1998, 'Male', 'no-data', 5, 2, 'Life Sciences'),
 (1201, 'no-data', 50, 1974, 'Male', 'Single', 1, 3, 'no-data'),
 (634, '349,0', 30, 1994, 'Male', 'Divorced', 19, 2, 'Marketing'),
 (1003, '1115,0', 35, 1989, 'Male', 'no-data', 3, 4, 'no-data'),
 (366, '942,0', 36, 1988, 'Female', 'Married', 21, 1, 'Life Sciences'),
 (209, '275,0', 50, 1974, 'Male', 'Divorced', 18, 4, 'no-data'),
 (760, '1333,0', 45, 1979, 'Male', 'no-data', 3, 3, 'Life Sciences'),
 (844, '1948,0', 32, 1992, 'Male', 'Divorced', 3, 2, 'no-data'),
 (901, '1890,0', 37, 1987, 'Male', 'no-data', 2, 1, 'no-data'),
 (220, '401,0', 27, 1997, 'Male', 'Single', 45, 4, 'no-data'),
 (944, '479,0', 37, 1987, 'Female', 'no-data', 1, 5, 'Medical'),
 (753, '1301,0', 29, 1995, 'Male', 'Single', 1, 3, 'Technical Degree'),
 (698, '806,0', 31, 1993, 'Male', 'Married', 18, 3, 'no-data'),
 (1141, 'no-data', 35, 1989, 'Female', 'Divorced', 19, 3, 'Medical'),
 (929, '282,0', 39, 1985, 'Male', 'Married', 29, 1, 'Medical'),
 (306, '1422,0', 55, 1969, 'Female', 'no-data', 1, 3, 'no-data'),
 (1408, 'no-data', 46, 1978, 'Male', 'no-data', 6, 4, 'Other'),
 (669, '585,0', 31, 1993, 'Male', 'Single', 7, 1, 'Marketing'),
 (1167, 'no-data', 47, 1977, 'Female', 'no-data', 18, 3, 'Medical'),
 (303, '1408,0', 43, 1981, 'Female', 'Married', 10, 3, 'Human Resources'),
 (1279, 'no-data', 38, 1986, 'Female', 'no-data', 3, 3, 'no-data'),
 (907, '41,0', 31, 1993, 'Male', 'no-data', 9, 2, 'Medical'),
 (26, '1042,0', 37, 1987, 'Female', 'Single', 16, 4, 'no-data'),
 (1103, 'no-data', 48, 1976, 'Female', 'Divorced', 4, 3, 'Life Sciences'),
 (1292, 'no-data', 41, 1983, 'Female', 'Married', 2, 4, 'no-data'),
 (1378, 'no-data', 40, 1984, 'Male', 'no-data', 19, 4, 'no-data'),
 (1193, 'no-data', 37, 1987, 'Female', 'Married', 10, 4, 'Technical Degree'),
 (1221, 'no-data', 38, 1986, 'Female', 'Single', 47, 3, 'no-data'),
 (962, '662,0', 39, 1985, 'Female', 'no-data', 27, 1, 'Life Sciences'),
 (954, '614,0', 19, 2005, 'Male', 'no-data', 5, 3, 'Marketing'),
 (1019, '1306,0', 46, 1978, 'Female', 'no-data', 25, 3, 'Medical'),
 (73, '206,0', 46, 1978, 'Male', 'no-data', 9, 3, 'Life Sciences'),
 (1285, 'no-data', 30, 1994, 'Female', 'no-data', 9, 4, 'Medical'),
 (1356, 'no-data', 45, 1979, 'Male', 'Single', 2, 1, 'no-data'),
 (547, '1487,0', 30, 1994, 'Female', 'Single', 13, 3, 'no-data'),
 (1371, 'no-data', 31, 1993, 'Female', 'Divorced', 42, 3, 'no-data'),
 (1056, '1839,0', 19, 2005, 'Female', 'Single', 14, 3, 'no-data'),
 (925, '211,0', 52, 1972, 'Male', 'Married', 7, 4, 'no-data'),
 (1306, 'no-data', 32, 1992, 'Female', 'Divorced', 5, 3, 'no-data'),
 (598, '88,0', 36, 1988, 'Male', 'Married', 31, 3, 'Medical'),
 (1156, 'no-data', 30, 1994, 'Male', 'Married', 1, 1, 'Technical Degree'),
 (713, '916,0', 29, 1995, 'Male', 'Single', 5, 4, 'Medical'),
 (797, '1587,0', 36, 1988, 'Female', 'Single', 10, 4, 'no-data'),
 (167, '1472,0', 54, 1970, 'Male', 'Single', 2, 3, 'Medical'),
 (476, '1924,0', 34, 1990, 'Male', 'Single', 15, 4, 'Marketing'),
 (1379, 'no-data', 32, 1992, 'Female', 'Divorced', 10, 2, 'no-data'),
 (757, '1317,0', 51, 1973, 'Female', 'Married', 46, 3, 'Life Sciences'),
 (910, '54,0', 28, 1996, 'Female', 'Divorced', 2, 4, 'Life Sciences'),
 (1267, 'no-data', 41, 1983, 'Male', 'Married', 45, 2, 'no-data'),
 (1240, 'no-data', 41, 1983, 'Female', 'Divorced', 2, 2, 'Marketing'),
 (357, '343,0', 40, 1984, 'Female', 'Single', 2, 4, 'no-data'),
 (749, '1217,0', 47, 1977, 'Male', 'no-data', 15, 2, 'Life Sciences'),
 (690, '744,0', 45, 1979, 'Male', 'Single', 24, 3, 'no-data'),
 (82, '456,0', 31, 1993, 'Female', 'no-data', 5, 3, 'Marketing'),
 (495, '299,0', 31, 1993, 'Female', 'no-data', 26, 4, 'no-data'),
 (1337, 'no-data', 42, 1982, 'Female', 'no-data', 7, 2, 'Medical'),
 (143, '581,0', 32, 1992, 'Male', 'Divorced', 9, 1, 'no-data'),
 (1474, 'no-data', 39, 1985, 'Male', 'no-data', 15, 2, 'Life Sciences'),
 (1436, 'no-data', 21, 2003, 'Male', 'Single', 4, 3, 'Technical Degree'),
 (9, '558,0', 41, 1983, 'Female', 'no-data', 2, 4, 'no-data'),
 (863, '169,0', 23, 2001, 'Male', 'no-data', 2, 1, 'Technical Degree'),
 (516, '791,0', 53, 1971, 'Male', 'no-data', 19, 4, 'Medical'),
 (96, '1124,0', 47, 1977, 'Male', 'Married', 3, 1, 'Marketing'),
 (1319, 'no-data', 28, 1996, 'Male', 'Single', 3, 4, 'Medical'),
 (1490, 'no-data', 46, 1978, 'Male', 'no-data', 2, 3, 'Other'),
 (48, '1661,0', 50, 1974, 'Female', 'no-data', 6, 1, 'Life Sciences'),
 (127, '121,0', 31, 1993, 'Female', 'no-data', 4, 2, 'no-data'),
 (1388, 'no-data', 33, 1991, 'Male', 'Married', 7, 3, 'no-data'),
 (214, '361,0', 39, 1985, 'Male', 'no-data', 2, 2, 'Life Sciences'),
 (400, '1251,0', 32, 1992, 'Male', 'Married', 11, 2, 'no-data'),
 (556, '1659,0', 37, 1987, 'Male', 'no-data', 7, 3, 'no-data'),
 (191, '35,0', 43, 1981, 'Male', 'no-data', 8, 4, 'no-data'),
 (1496, 'no-data', 29, 1995, 'Female', 'no-data', 43, 4, 'no-data'),
 (247, '728,0', 48, 1976, 'Male', 'Single', 35, 4, 'Marketing'),
 (171, '1553,0', 46, 1978, 'Male', 'Divorced', 1, 4, 'no-data'),
 (1402, 'no-data', 23, 2001, 'Male', 'no-data', 16, 2, 'no-data'),
 (548, '1499,0', 31, 1993, 'Male', 'no-data', 16, 3, 'Life Sciences'),
 (1172, 'no-data', 39, 1985, 'Female', 'no-data', 7, 4, 'Marketing'),
 (24, '830,0', 33, 1991, 'Female', 'Married', 4, 3, 'no-data'),
 (281, '1126,0', 44, 1980, 'Female', 'Married', 27, 3, 'Life Sciences'),
 (1308, 'no-data', 22, 2002, 'Male', 'Single', 9, 2, 'no-data'),
 (859, '2064,0', 28, 1996, 'Male', 'no-data', 4, 3, 'Life Sciences'),
 (507, '554,0', 25, 1999, 'Female', 'Single', 1, 1, 'Technical Degree'),
 (956, '622,0', 27, 1997, 'Male', 'Single', 24, 3, 'no-data'),
 (252, '762,0', 57, 1967, 'Male', 'Married', 9, 3, 'no-data'),
 (730, '1069,0', 47, 1977, 'Male', 'no-data', 47, 4, 'Medical'),
 (735, '1099,0', 34, 1990, 'Male', 'no-data', 5, 3, 'Life Sciences'),
 (1273, 'no-data', 38, 1986, 'Female', 'Divorced', 10, 1, 'Life Sciences'),
 (1324, 'no-data', 56, 1968, 'Male', 'no-data', 2, 3, 'Medical'),
 (778, '1464,0', 32, 1992, 'Male', 'no-data', 2, 3, 'Life Sciences'),
 (322, '1653,0', 26, 1998, 'Male', 'Divorced', 2, 1, 'Life Sciences'),
 (553, '1622,0', 29, 1995, 'Female', 'Divorced', 27, 3, 'no-data'),
 (1160, 'no-data', 41, 1983, 'Male', 'no-data', 2, 2, 'Medical'),
 (1385, 'no-data', 22, 2002, 'Male', 'Single', 5, 1, 'Medical'),
 (724, '1022,0', 49, 1975, 'Male', 'no-data', 6, 3, 'no-data'),
 (880, '1006,0', 39, 1985, 'Male', 'Married', 10, 1, 'no-data'),
 (1051, '1758,0', 34, 1990, 'Female', 'no-data', 16, 3, 'no-data'),
 (1492, 'no-data', 33, 1991, 'Female', 'Single', 3, 2, 'Life Sciences'),
 (1331, 'no-data', 50, 1974, 'Female', 'no-data', 1, 3, 'Technical Degree'),
 (392, '649,0', 35, 1989, 'Male', 'no-data', 1, 2, 'Life Sciences'),
 (3, '1900,0', 49, 1975, 'Female', 'no-data', 22, 3, 'Medical'),
 (119, '1976,0', 43, 1981, 'Male', 'Single', 23, 2, 'no-data'),
 (149, '844,0', 28, 1996, 'Male', 'Divorced', 5, 1, 'no-data'),
 (1420, 'no-data', 44, 1980, 'Female', 'Married', 15, 3, 'no-data'),
 (1468, 'no-data', 26, 1998, 'Female', 'no-data', 2, 3, 'no-data'),
 (610, '179,0', 52, 1972, 'Male', 'no-data', 16, 4, 'no-data'),
 (612, '197,0', 31, 1993, 'Female', 'Divorced', 5, 3, 'Technical Degree'),
 (139, '441,0', 31, 1993, 'Female', 'Married', 28, 2, 'no-data'),

In [13]:
# Insertar datos

query_insertar_tablapersonal = """ INSERT INTO `ABCCorporation (M3T3)`.`PERSONAL_INFO` (`IdEmployee`, `EmployeeNumber`, `Age`, `DateBirth`, `Gender`, `MaritalStatus`, `DistanceFromHome`, `Education`, `EducationField`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""

datos_tabla_personal = list(set(zip
                                (df["IdEmployee"].values, 
                                 df["EmployeeNumber"].values,
                                 df["Age"].values,
                                 df["DateBirth"].values,
                                 df["Gender"].values,
                                 df["MaritalStatus"].values,
                                 df["DistanceFromHome"].values,
                                 df["Education"].values,
                                 df["EducationField"].values,
                                 )))


cursor.executemany(query_insertar_tablapersonal, datos_personal)

cnx.commit()